# Created 2026-04-25

# VS Code
.vscode

# Python
__pycache__
startvenv.bat

# PyInstaller
build
dist
*.spec
*.exe

# Media data
*.mp3
*.wav
*.ogg
*.avi

# Private
TODO
private.py
test.py

# Files created by app
*.json
*.txt
